#mainHeader {
    padding-top: 20px;
    width: auto;
    height: 100px;
    background-image: linear-gradient(to right, #4556ef, #0080ff); /* Adjust colors and direction as needed */
    color: #ffffff;
}

.captionMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding-top: 4px;
    color:#2c3e50 ;
}
 .cards{ 
    display: flex;
    gap: 50px;
    /* flex-direction: column; */
    flex-direction: space-between;

} 
.cardsContainer{
    display: flex;
    /* flex-direction: column;
    align-items: center;
   margin-top: 10px;
   margin-bottom: 10px; */

}

/* Add the following CSS rules */

/* .footer {
    display: flex;
    margin-top: 500px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #2c3e50;
    text-align: center;
    justify-content: center;
} */


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
